/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700;&display=swap');

/* 
 font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */

 /* 
 basic css
  */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #646464;
    line-height: 1.7;
}
h1,
h2,
h3,
h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #212121;
}

.theme-button{
    text-decoration: none;
    background-color: #37806B;
    text-transform: capitalize;
    color: #fff;
    border-radius: 15px 0;
    display: inline-block;
    padding: 10px 20px;
    transition: 0.3s;   
}
.theme-button:hover{
    background-color: antiquewhite;
    color: #fff;
}

.desing-image-two{
    position: relative;
    z-index: 1;
}
.desing-image-two::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: -20px;
    top: -20px;
    z-index: -1;
    border-radius: 140px 0;
    border: 2px solid #80855B;
}

.desing-image{
    position: relative;
    z-index: 1;
}
.desing-image img{
    width: 100%;
    border-radius: 140px 0px;

}
.desing-image::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 20px;
    top: 20px;
    z-index: -1;
    border-radius: 140px 0;
    border: 2px solid #80855B;
}
.service-heading h4{
    font-size: 20px;
    text-transform: uppercase;
    color: #646464;
    font-weight: 600;
}
.section-heading h3{
    font-size: 48px;
}
.desing-text h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 288px;
    font-weight:700;
    background-image: url(assests/img/text-bg.png);
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
}
.design img {
    height: 100px;
}


/*  header area css */

.header-area{
    padding: 30px 0;
}
.header-area .nav-item{
    margin-left: 30px;
}
.header-area .nav-link{
    text-transform: uppercase;
    color: #111111;
    font-weight: 600;
}
.header-area .nav-link.active{
    color: #646464;
}
.header-area .nav-item:last-child{
    margin-left: 40px;
}
.header-area .nav-item:last-child .nav-link{
    background-color: #CAA892;
    text-transform: capitalize;
    color: #fff;
    border-radius: 15px 0;
    padding: 10px 20px;
}
/* main area css */
/* hero-area css*/

.hero-area{
padding: 70px 0;
}
.hero-text h3{
    font-size: 20px;
    color: #646464;
    text-transform: uppercase;
}
.hero-text h2{
    font-size: 71px;
    color: #212121;
    text-transform: capitalize;
}
.hero-text a{
    margin-top: 15px;
}
.hero-image img{
    width: 100%;
    border-radius: 140px 0px;
}

/* service-area css */
.service-area{
    padding: 100px 0;
    position: relative;
}
.all-service{
    margin-top: 60px;
    position: relative;
}
.service-area .owl-nav{
    position: absolute;
    right: 0px;
    top: -80px;
}
.service-area .owl-nav span{
    height: 30px;
    width: 30px;
    background-color: #fff;
    color: #37806B;
    display: inline-block;
    border-radius: 50%;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
.service-area .owl-nav span:hover{
    background-color: #37806B;
    color: #fff;
}
.service-area .owl-next{
    margin-left: 15px;
}
.single-service{
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
    padding: 40px 20px 40px 35px;
    transition: 0.03s;
}
.single-service:hover{
    background-color: #CAA892;
    color: #fff;
}
.single-service:hover h3{
    color: #fff;
}
.service-text p{
    margin-bottom: 0;
}

/* about area css */
.about-area{
    padding: 100px 0;
}

/* succes-area css */

.succes-area{
    padding: 100px 0;
    position: relative;
}
.succes-area .theme-button{
    margin-top: 35px;
}

/* work area css */
.work-area{
    padding: 100px 0;
    background-color: white;
}
.all-work{
    margin-top: 100px;
}
.single-work{
    display: flex;
    justify-content: center;
}
.single-work-text{
    background: #FFFFFF;
    box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
    border-radius: 40px 0px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.single-work-text::after{
    position: absolute;
    content: "";
    height: 100px;
    width: 65px;
    border-top: 2px solid #e0e0e0;
    border-right: 2px solid #e0e0e0;
    z-index: -1;
    right: -65px;
    top: 100px;
}
.single-work-text.sepcial::after{
    left: -62PX;
    top: 100px;
    border-right: none;
}
.single-work-two .single-work-text::before{
    position: absolute;
    content: "";
    height: 100px;
    width: 65px;
    border-top: 2px solid #e0e0e0;
    z-index: -1;
    right: -62px;
    top: 100px;
}
.single-work-three .single-work-text::before{
    position: absolute;
    content: "";
    height: 100px;
    width: 65px;
    border-top: 2px solid #e0e0e0;
    border-left: 2px solid #e0e0e0;
    z-index: -1;
    left: -65px;
    top: 100px;
}
.single-work h3{
    font-size: 50px;
}
.sepcial{
    margin-top: 100px;
}

/* testimonial-area css */

.testimonial-area{
    padding: 100px 0;
    position: relative;
}
.all-testimonial{
    margin-top: 70px;
    position: relative;
}
.singel-testimonial{
    padding: 20px;
}
.testimonial-content{
    display: flex;
    padding: 40px;
    padding-left: 0;
    position: relative;
    z-index: 1;
}
.testimonial-content::after{
    position: absolute;
    content: "";
    top:0;
    right:0;
    bottom:0;
    left:65px;
    z-index: -1;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px 5px rgba(66, 96, 84, 0.15);
    border-radius: 70px 0px
}
.testimonial-img{
    margin-right: 20px;
}
.testimonial-img img{
    width: 130px !important;
    height: 130px;
}
.testimonial-text h3{
    font-size: 24px;
}
.testimonial-text h3 span{
    font-size: 16px;
    color: #646464;
}
.icon-img{
    position: absolute;
    right: 40px;
    top: 40px;
}
.icon-img img{
    width: 25px;
    height: auto;
}

.testimonial-area .owl-nav{
    position: absolute;
    right: 0px;
    top: -80px;
}
.testimonial-area .owl-nav span{
    height: 30px;
    width: 30px;
    background-color: #fff;
    color: #37806B;
    display: inline-block;
    border-radius: 50%;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
.testimonial-area .owl-nav span:hover{
    background-color: #37806B;
    color: #fff;
}
.testimonial-area .owl-next{
    margin-left: 15px;
}

/* blog area css */

.blog-area{
    background-color: #F8F8F8;
    padding: 100px 0;
}
.blog-text{
    margin-top: 40px;
}
.blog-area .service-heading{
    margin-bottom: 70px;
}
/* singup area css */
.singnup-area{
    padding: 180px 0;
}
.singup-text h3{
    font-size: 48px;
    margin-bottom: 22PX;
    padding-bottom: 22PX;
    position: relative;
}
.singup-text h3::after{
    position:absolute;
    content:"";
    height:1px;
    width:400px;
    background-color: #C4C4C4;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.singup-text P{
    margin-bottom: 45PX;
}
.singnup-area .form-control{
    background-color: #EEEEEE;
    border: none;
    font-size: 20px;
    border-radius: 20px 0 0 0;
    padding: 10px 15px;
}
.singnup-area button{
    border: none;
    background-color: #37806B;
    padding: 10px 40px;
    color: #fff;
    border-radius: 0 0 20PX 0;
}
.singnup-area button:hover{
    background-color: #CAA892;
}
/* footer area css */

.footer-area{
    background-color: #F8F8F8;
    position: relative;
}
.footer-top{
    padding: 90px;
    padding-bottom: 70px;
}
.footer-about img{
margin-bottom: 15px;
}

.footer-link h3{
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.footer-link ul{
    margin: 0;
    padding: 0;
}
.footer-link ul li{
    list-style: none;
}
.footer-link ul li a{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color:#646464 ;
    transition: 0.3s;
}
.footer-link ul li a:hover{
    color:#37806B;
}
.footer-link address{
    line-height: 2.1;
}
.footer-link .social-link li {
    display: inline-block;
    margin-right: 10px;
}
.footer-link .social-link li a {
    background-color: #D5D5D5;
    height: 40px;
    width: 40px;
    display: flex ;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color:white;
    transition: .03s;
}
.footer-link .social-link li a:hover{
     background:#37806B;
     color: #fff;
}
.footer-bottom{
    border-top: 1px solid #C4C4C4;
}
.footer-bottom-text a{
    text-decoration: none;
    color: #0d1493;
}
.design {
    position: absolute;
    top: -50px;
}

/* header area css */
@media (max-width: 991px){
.navbar-toggler{
    border: none;
    box-shadow: none;
}
.header-area .nav-item {
    margin-left: 0;
}
.header-area .nav-item {
    text-align: center;
} 
.header-area .nav-item:last-child{
    margin-left: 0;
}
/* header area  responsive css end */

/* main area */
/* hero area responsive css */
.hero-area{
    padding-top: 30px;
    padding-bottom: 80px;
    text-align: center;
}
.hero-text a{
    margin-bottom: 30px;
}
/* hero area responsive  css end */

/* service area responsive  css */
.service-area{
    padding: 70px 0;
    text-align: center;
}
.service-area .owl-nav{
    top: -20px;
}
.all-service{
    margin-top: 20px;
}

/* servce area responsive css end */

/* about area responsive  css */
.about-area{
    padding: 70px 0;
    text-align: center;
}
.about-img {
    margin-bottom: 30px;
}
.about-text{
    padding-left: 0 !important;
}
/* about area responsive  css end */

/* succes area responsive  css */
.succes-area{
    padding: 70px 0;
    text-align: center;
}
.succes-text{
    padding-right: 0 !important;
    margin-bottom: 30px;
}
/* sucess area responsive  end */

/* work area responsive  css */
.work-area{
    padding: 70px 0;
}

.all-work{
    position: relative;
    padding: 300px 0;
    margin-top: 0;
}
.single-work-text{
    background-color: #0d1493;
}

.single-work-one{
    position: absolute;
    top: 0;
    right: 0;
}
.single-work-two{
    position: absolute;
    top: 170px;
    left: 0;
}
.single-work-three{
    position: absolute;
    top: 340px;
    right: 0;
}
.single-work-four{
    position: absolute;
    left: 0;
    top: 510px;
}
.single-work-text{
    height: 150px;
    width: 150px;
}
.sepcial{
    margin-top: 0;
}
.single-work-text::after{
    border: none;
}
.single-work-text.sepcial::after{
    border: none;
}
.single-work-two .single-work-text::before{
    border: none;
}
.single-work-three .single-work-text::before{
    border: none;
}
.all-work{
    position: relative;
}
/* work area responsive  css end */

/* testimonial area responsive   css */
/* testimonila area responsive  end */

/* blog area responsive  css */
.blog-area{
    text-align: center;
    padding: 170px 0;
}
.blog-image{
    padding: 15px;
}
/* blog area  responsive css end */

/* singnup area responsive  css */
.singnup-area{
    text-align: center;
}
/* sngnup area end */

/* main area css end */

/* footer area  responsive css */
.footer-area{
    text-align: center;
}
.footer-link .social-link li a{
    align-items: center;
}
/* footer area responsive  end */
}